<h2>{{'PROFESSOR.LIST_TITLE' | translate}}</h2>


<div class="m-2">
  <button type="button" class="btn btn-outline-primary" [routerLink]="['/professor/professor-form']">
    <bi name="plus"></bi>{{'COMMON.ADD_PROFESSOR' | translate}}
  </button>
</div>

<input type="text" [(ngModel)]="searchTerm" class="form-control" (keyup)="search()"
  placeholder="{{'Search' | translate}}">

<table class="table table-strped">
  <thead>
    <tr>
      <th sortable="id" (sort)="onSort($event)">ID</th>
      <th sortable="firstName" (sort)="onSort($event)">{{'PROFESSOR.FIRST_NAME' | translate}}</th>
      <th sortable="lastName" (sort)="onSort($event)">{{'PROFESSOR.LAST_NAME' | translate}}</th>
      <th sortable="email" (sort)="onSort($event)">{{'PROFESSOR.EMAIL' | translate}}</th>
      <th sortable="title" (sort)="onSort($event)">{{'Title' | translate}}</th>
      <th sortable="address" (sort)="onSort($event)">{{'PROFESSOR.ADDRESS' | translate}}</th>
      <th sortable="phone" (sort)="onSort($event)">{{'PROFESSOR.PHONE' | translate}}</th>
      <th sortable="relocationDate" (sort)="onSort($event)">{{'PROFESSOR.RELOCATION_DATE' | translate}}</th>
      <th sortable="city" (sort)="onSort($event)">{{'PROFESSOR.CITY' | translate}}</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let pro of professors; let i = index">
      <td>{{ pro.id }}</td>
      <td>{{ pro.firstName }}</td>
      <td>{{ pro.lastName }}</td>
      <td>{{ pro.email }}</td>
      <td>{{ titleMap.get(pro.title.id)?.titleName}}</td>
      <td>{{ pro.address }}</td>
      <td>{{ pro.phone }}</td>
      <td>{{ pro.relocationDate | date : format }}</td>
      <td>{{ cityMap.get(pro.city.zip_code)?.name}}</td>
      <td>
        <button class="btn btn-outline-primary" [routerLink]="['/professor/professor-form', pro.id]"
          [queryParams]="{'page': currentPage.page, 'size': currentPage.size, 'orderBy': currentPage.orderBy, 'order': currentPage.order}">
          <bi name="pencil"></bi><span class="btn-text-responsive">{{'COMMON.EDIT' | translate}}</span>
        </button>
        <button class="btn btn-outline-primary" (click)="onDetailsClick(pro, proDetailsTemplate)">
          <bi name="card-text"></bi><span class="btn-text-responsive">{{'COMMON.DETAILS' | translate}}</span>
        </button>
        <button class="btn btn-outline-danger" (click)="onDeleteClick(pro)">
          <bi name="trash"></bi><span class="btn-text-responsive">{{'COMMON.DELETE' | translate}}</span>
        </button>
      </td>
    </tr>
  </tbody>
</table>
<div class="d-flex justify-content-center">
  <ngb-pagination [collectionSize]="currentPage.totalItems" [pageSize]="currentPage.size" [(page)]="currentPage.page"
    [boundaryLinks]="true" (pageChange)="loadProfessors()">
  </ngb-pagination>
</div>
<ng-template #proDetailsTemplate let-modal>
  <div class="modal-body">
    <h4>{{'PROFESSOR.PROFESSOR_DETAILS' | translate}}</h4>
    <ul class="list-unstyled">
      <li>ID: {{ selectedProfessor?.id }}</li>
      <li>First Name: {{ selectedProfessor?.firstName }}</li>
      <li>Last Name: {{ selectedProfessor?.lastName }}</li>
      <li>Email: {{ selectedProfessor?.email }}</li>
      <li>Title: {{ selectedProfessor?.title?.titleName}}</li>
      <li>Address: {{ selectedProfessor?.address }}</li>
      <li>Phone: {{ selectedProfessor?.phone }}</li>
      <li>Relocation Date: {{ selectedProfessor?.relocationDate | date : format }}</li>
      <li>City: {{selectedProfessor?.city?.name}} </li>
    </ul>
    <div class="mt-2 d-flex flex-row-reverse">
      <button (click)="modal.close('OK')">Ok</button>
    </div>
  </div>
</ng-template>