<body>

  <form class="form" *ngIf="loginForm" (ngSubmit)="onLogin()">
    <div class="">
      <h2>{{'LOGIN.TITLE' | translate}}</h2>
      <div class="input">
        <div class="inputBox">
          <label for="username">{{'LOGIN.USERNAME' | translate}}</label>
          <input type="text" id="username" placeholder="example@gmail.com">
          <p class="alert alert-danger" *ngIf="showControlError(loginForm,'username')">
            Username is required
          </p>
        </div>

        <div class="inputBox">
          <label for="password">{{'LOGIN.PASSWORD' | translate}}</label>
          <input type="password" id="password" placeholder="*****">
          <p class="alert alert-danger" *ngIf="showControlError(loginForm,'password')">
            Password is required
          </p>
        </div>
        <div class="inputBox">
          <input type="submit" name="" value="Sign In">

          <input type="submit" [routerLink]="['/register']" value="Register">
        </div>
      </div>

      <p class="forget">Forget Password ? <a href="#">Click Here</a> </p>
    </div>

  </form>
</body>