<div class="toast-container d-flex flex-column">
  <!-- Number of messages: {{toastService.toasts?.length}} -->
  <ng-content select=".header"></ng-content>
  <ng-container *ngFor="let toast of toastService.messages;let i  = index">
    <ngb-toast [class]="toast.classNames" [autohide]="true" [header]="toast.header" [delay]="toast.delay || 3000"
      (hidden)="toastService.removeToast(i)">
      {{toast.message}}
    </ngb-toast>

  </ng-container>
  <ng-content select=".footer"></ng-content>
</div>