<h2>{{'SUBJECT.LIST_TITLE' | translate}}</h2>
<div class="m-2">
  <button type="button" class="btn btn-outline-primary" [routerLink]="['/subject/subject-form']">
    <bi name="plus"></bi>{{'COMMON.ADD_SUBJECT' | translate}}
  </button>
</div>

<hr>


<input type="text" [(ngModel)]="searchTerm" class="form-control" (keyup)="search()" placeholder="Search">


<hr>
<table class="table table-strped">

  <thead>
    <tr>

      <th sortable="id" (sort)="onSort($event)">ID</th>

      <th sortable="name" (sort)="onSort($event)">{{'SUBJECT.NAME' | translate}}</th>
      <th sortable="description" (sort)="onSort($event)">{{'SUBJECT.DESCRIPTION' |
        translate}}</th>
      <th sortable="noOfESP" (sort)="onSort($event)">{{'SUBJECT.NO_OF_ESP' |
        translate}}</th>
      <th sortable="yearOfStudy" (sort)="onSort($event)">{{'SUBJECT.YEAR_OF_STUDY' |
        translate}}</th>
      <th sortable="semester" (sort)="onSort($event)">{{'SUBJECT.SEMESTER' |
        translate}}</th>
      <th>{{'COMMON.ACTIONS' | translate}}</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let sub of subject; ">
      <td>{{ sub.id }}</td>
      <td>{{ sub.name }}</td>
      <td>{{ sub.description }}</td>
      <td>{{ sub.noOfESP }}</td>
      <td>{{ sub.yearOfStudy }}</td>
      <td>{{ sub.semester }}</td>
      <td>
        <button class="btn btn-outline-success" [routerLink]="['/subject/subject-form', sub.id]"
          [queryParams]="{'page': currentPage.page, 'size': currentPage.size, 'orderBy': currentPage.orderBy, 'order': currentPage.order}">
          <bi name="pencil"></bi><span class="btn-text-responsive">{{'COMMON.EDIT' | translate}}</span>
        </button>
        <button class="btn btn-outline-info" (click)="onDetailsClick(sub, subDetailsTemplate)">
          <bi name="card-text"></bi><span class="btn-text-responsive">{{'COMMON.DETAILS' | translate}}</span>
        </button>
        <button class="btn btn-outline-danger" (click)="onDeleteClick(sub)">
          <bi name="trash"></bi><span class="btn-text-responsive">{{'COMMON.DELETE' | translate}}</span>
        </button>
      </td>
    </tr>
  </tbody>
  <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky:true  "></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<hr>
<div class="d-flex justify-content-center">
  <ngb-pagination [collectionSize]="currentPage.totalItems" [pageSize]="currentPage.size" [(page)]="currentPage.page"
    [boundaryLinks]="true" (pageChange)="loadSubject()">
  </ngb-pagination>
</div>
<ng-template #subDetailsTemplate let-modal>
  <div class="modal-body">
    <h4>{{'SUBJECT.SUBJECT_DETAILS' | translate}}</h4>
    <ul class="list-unstyled">
      <li>ID: {{ selectedSub?.id }}</li>
      <li>Name: {{ selectedSub?.name }}</li>
      <li>Description: {{ selectedSub?.description }}</li>
      <li>NoOfESP: {{ selectedSub?.noOfESP }}</li>
      <li>YearOfStudy: {{ selectedSub?.yearOfStudy }}</li>
      <li>Semester: {{ selectedSub?.semester }}</li>
    </ul>
    <div class="mt-2 d-flex flex-row-reverse">
      <button (click)="modal.close('OK')">Ok</button>
    </div>
  </div>
</ng-template>