nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);

}

.side-nav-button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    border: none;
    cursor: pointer;
    outline: none;
}

.side-nav-button:hover {
    background-color: rgba(80, 79, 79, 0.959);
    border-radius: 40%;
}