<nav class="navbar navbar-expand navbar-dark bg-dark px-2">
  <div class="side-nav-button p-2 me-3 text-light" (click)="onToggleSideNav()">
    <i class="fas fa-bars"></i>
  </div>

  <a class="btn" routerLink="/home">Home</a>
  <div class="navbar-collapse">
    <ul class="navbar-nav me-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" href="#">{{'MENU.STUDENT' |
          translate}}</a>
        <ul class="dropdown-menu dropdown-menu-dark">
          <li><a class="dropdown-item" routerLink="/student">{{'All Students' | translate}}</a></li>
          <li><a class="dropdown-item" routerLink="/student/student-form">{{'New Student' | translate}}</a></li>
        </ul>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" href="#">{{'MENU.PROFESSOR' |
          translate}}</a>
        <ul class="dropdown-menu dropdown-menu-dark">
          <li><a class="dropdown-item" routerLink="/professor">{{'All Professors' | translate}}</a></li>
          <li><a class="dropdown-item" routerLink="/professor/professor-form">{{'New Professor' | translate}}</a></li>
        </ul>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" href="#">{{'MENU.SUBJECT' |
          translate}}</a>
        <ul class="dropdown-menu dropdown-menu-dark">
          <li><a class="dropdown-item" routerLink="/subject">{{'All Subjects' | translate}}</a></li>
          <li><a class="dropdown-item" routerLink="/subject/subject-form">{{'New Subject' | translate}}</a></li>
        </ul>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" href="#">{{'Exam Period' |
          translate}}</a>
        <ul class="dropdown-menu dropdown-menu-dark">
          <li><a class="dropdown-item" routerLink="/exam-period">{{'All Exam Periods' | translate}}</a></li>
          <li><a class="dropdown-item" routerLink="/exam-period/exam-period-form">{{'New Exam Period' | translate}}</a>
          </li>
        </ul>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" href="#">{{'Exam' |
          translate}}</a>
        <ul class="dropdown-menu dropdown-menu-dark">
          <li><a class="dropdown-item" routerLink="/exam">{{'All Exams' | translate}}</a></li>
          <li><a class="dropdown-item" routerLink="/exam/exam-form">{{'New Exam' | translate}}</a></li>
        </ul>
    </ul>
  </div>

  <div class="profile-logo dropstart">
    <button class="btn btn-outline-light dropdown-toggle" data-bs-toggle="dropdown">
      Admin
    </button>
    <ul class="dropdown-menu dropdown-menu-dark">
      <li><a class="dropdown-item" routerLink="/home">{{'MENU.HOME' | translate}}</a></li>
      <li><a class="dropdown-item" routerLink="/user-profile">{{'Profile' | translate}}</a></li>
      <li><a class="dropdown-item" routerLink="/register">{{'Register' | translate}}</a></li>
      <li><a class="dropdown-item" routerLink="/login">{{'Login' | translate}}</a></li>
      <li><a class="dropdown-item" (click)="logoutUser()">{{'Logout' | translate}}</a></li>
      <li><a class="dropdown-item" routerLink="/reset-password">{{'Reset Password' | translate}}</a></li>
      <li><a class="dropdown-item" routerLink="/forgot-password">{{'Forgot Password' | translate}}</a></li>
    </ul>
  </div>

  <div class="language-logo dropstart">
    <button class="btn btn-outline-light dropdown-toggle" data-bs-toggle="dropdown">
      <i class="fas fa-globe"></i>
    </button>
    <ul class="dropdown-menu dropdown-menu-dark">
      <li><a class="dropdown-item" (click)="onLanguageChange('en')">English</a></li>
      <li><a class="dropdown-item" (click)="onLanguageChange('it')">Italian</a></li>
      <li><a class="dropdown-item" (click)="onLanguageChange('jp')">Japanese</a></li>
      <li><a class="dropdown-item" (click)="onLanguageChange('ru')">Russian</a></li>
      <li><a class="dropdown-item" (click)="onLanguageChange('sp')">Spanish</a></li>
      <li><a class="dropdown-item" (click)="onLanguageChange('sr')">Serbian</a></li>
    </ul>
  </div>
</nav>