<ul ngbNav  class="flex-no-wrap justify-content-between bg-light">
    <li ngbNavItem  *ngIf="userAuthData.loggedUser" >
      <a ngbNavLink routerLink="/student" >Students</a>
    </li>
    <li ngbNavItem *ngIf="userAuthData.loggedUser" >
      <a ngbNavLink routerLink="/professor" >Professors</a>
    </li>
  
    <li ngbNavItem *ngIf="userAuthData.loggedUser" class="flex-grow-1 flex-shirnk-1 text-center" >
      <a ngbNavLink routerLink="/home"  >Home</a>
    </li>
  
    <li ngbNavItem>
      <div ngbDropdown class="d-inline-block mx-3" *ngIf="userAuthData.loggedUser">
          <button ngbDropdownItem ><bi name="gear"></bi>Settings</button>
          <button ngbDropdownItem (click)="logoutUser()" ><bi name="power"></bi>Logout</button>
      </div>
    </li>
  
  </ul>
  