<div class="main-container">

    <!-- Form -->
    <div class="container-form mat-elevation-z5">
        <form [formGroup]="examForm">
            <h1 class="center">Add exam </h1>

            <mat-form-field appearance="outline">
                <mat-label>Subject</mat-label>
                <input matInput placeholder="subject name." formControlName="subject">
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Professor</mat-label>
                <input matInput placeholder="professor name." formControlName="professor">
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Date</mat-label>
                <input matInput placeholder="student name." formControlName="date">
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Exam Period</mat-label>
                <input matInput placeholder="start time." formControlName="examPeriod">
            </mat-form-field>



            <!-- <mat-form-field appearance="outline">
                <mat-label>Exam </mat-label>
                <mat-select>
                    <mat-option [value]="true">Active</mat-option>
                    <mat-option [value]="false">Inactive</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Start and end date</mat-label>
                <mat-date-range-input [formGroup]="examForm" [rangePicker]="picker">
                    <input matStartDate formControlName="start" placeholder="Start date">
                    <input matEndDate formControlName="end" placeholder="End date">
                </mat-date-range-input>
                <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-date-range-picker #picker></mat-date-range-picker>


            </mat-form-field> -->

            <div class="center">
                <button mat-flat-button color="primary" (click)="onSubmit(examForm.value)">
                    Add exam period
                </button>
            </div>
        </form>
    </div>

    <!-- Table -->
    <div class="container-table">
        <mat-table [dataSource]="exams" class="mat-elevation-z5">

            <ng-container matColumnDef="subject">
                <mat-header-cell mat-sort-header sortActionDescription="Sort by name" *matHeaderCellDef> Name
                </mat-header-cell>
                <mat-cell *matCellDef="let exam"> {{exam.subject}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="date">
                <mat-header-cell mat-sort-header sortActionDescription="Sort by last date" *matHeaderCellDef> Start
                </mat-header-cell>
                <mat-cell *matCellDef="let exam"> {{exam.date | date:'shortDate' }} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="examPeriod">
                <mat-header-cell mat-sort-header sortActionDescription="Sort by date" *matHeaderCellDef> End
                </mat-header-cell>
                <mat-cell *matCellDef="let exam"> {{exam.examPeriod | date:'shortDate'}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="professor">
                <mat-header-cell mat-sort-header sortActionDescription="Sort by status" *matHeaderCellDef> Status
                </mat-header-cell>
                <mat-cell *matCellDef="let exam"> {{exam.professor}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="edit">
                <mat-header-cell *matHeaderCellDef> Edit </mat-header-cell>
                <mat-cell *matCellDef="let exam">
                    <button mat-button matTooltip="Edit exam period" matTooltipPosition="after"
                        class="btn btn-outline-primary" color="primary" (click)="openDialog(exam)">
                        <bi name="pencil"></bi><span class="btn-text-responsive"></span>
                    </button>
                </mat-cell>
            </ng-container>


            <ng-container matColumnDef="delete">
                <mat-header-cell *matHeaderCellDef> Delete </mat-header-cell>
                <mat-cell *matCellDef="let examPeriod">
                    <button class="btn btn-outline-danger" mat-button matTooltip="Delete exam period" color="warn"
                        (click)="onDeleteClick(examPeriod)" matTooltipPosition="after">
                        <bi name="trash"></bi><span class="btn-text-responsive"></span>
                    </button>
                </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>

        <hr>

        <div class="d-flex justify-content-center">
            <ngb-pagination [collectionSize]="currentPage.totalItems" [pageSize]="currentPage.size"
                [(page)]="currentPage.page" [boundaryLinks]="true" (pageChange)="loadExam()">
            </ngb-pagination>
        </div>




    </div>
</div>