<h2 class="text-center">CRUD management app</h2>

<div class="mx-auto d-flex flex-wrap justify-content-center">

  <div class="card mt-4 col-2 mx-2">
    <!-- <img src="/assets/belgrade-img.jpg" alt=""> -->
    <div class="card-body">
      <h4>View, add and edit Student</h4>
      <!-- <p class="card-text">View Students</p> -->
      <a routerLink="/student">View Students</a>
    </div>
  </div>

  <div class="card mt-4 col-2 mx-2">
    <!-- <img src="/assets/belgrade-img.jpg" alt=""> -->
    <div class="card-body">
      <h4>View, add and edit Professor</h4>
      <!-- <p class="card-text">Taka a time to explore your manufacturers</p> -->
      <a routerLink="/professor">View Professor</a>
    </div>
  </div>
</div>
