<h2 class="text-center">{{'HOME.WELCOME' | translate}}</h2>

<div class="mx-auto d-flex flex-wrap justify-content-center">

  <div class="card mt-4 col-2 mx-2">
    <img src="assets/students.webp" class="card-img-top" alt="...">
    <div class="card-body">
      <h4>{{'HOME.VIEW_STUDENT' | translate}}</h4>
      <a routerLink="/student">View Students</a>
    </div>
  </div>
  <div class="card mt-4 col-2 mx-2">
    <img src="assets/professor.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h4>{{'HOME.VIEW_PROFESSOR' | translate}}</h4>
      <a routerLink="/professor">View Professor</a>
    </div>
  </div>
  <div class="card mt-4 col-2 mx-2">
    <img src="assets/subjects.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h4>{{'HOME.VIEW_SUBJECT' | translate}}</h4>
      <a routerLink="/subject">View Subject</a>
    </div>
  </div>
  <div class="card mt-4 col-2 mx-2">
    <img src="assets/exam.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h4>{{'Exam Period' | translate}}</h4>
      <a routerLink="/exam-period">View Exam Period</a>
    </div>