<h2 class="text-center">CRUD management app</h2>

<div class="mx-auto d-flex flex-wrap justify-content-center">

  <div class="card mt-4 col-2 mx-2">
   
    <div class="card-body">
      <h4>View, add and edit Student</h4>
      <a routerLink="/student">View Students</a>
    </div>
  </div>
  <div class="card mt-4 col-2 mx-2">
    <div class="card-body">
      <h4>View, add and edit Professor</h4>
      <a routerLink="/professor">View Professor</a>
    </div>
  </div>
  <div class="card mt-4 col-2 mx-2">
    <div class="card-body">
      <h4>View, add and edit Subject</h4>
      <a routerLink="/course">View Subject</a>
    </div>
</div>
