<h2>{{'STUDENT.LIST_TITLE' | translate}}</h2>
<div class="m-2">
  <button type="button" class="btn btn-outline-primary" [routerLink]="['/student/student-form']">
    <bi name="plus"></bi>
    {{'COMMON.ADD_STUDENT' | translate}}
  </button>
</div>

<hr>

<input type="text" [(ngModel)]="searchTerm" class="form-control" (keyup)="search()"
  placeholder="{{'Search' | translate}}">

<hr>

<table class="table table-strped">
  <thead>
    <tr>
      <th sortable="id" (sort)="onSort($event)">ID</th>
      <th sortable="indexNumber" (sort)="onSort($event)">{{'STUDENT.INDEX_NUMBER' | translate}}</th>
      <th sortable="indexYear" (sort)="onSort($event)">{{'STUDENT.INDEX_YEAR' | translate}}</th>
      <th sortable="firstName" (sort)="onSort($event)">{{'STUDENT.FIRST_NAME' | translate}}</th>
      <th sortable="lastName" (sort)="onSort($event)">{{'STUDENT.LAST_NAME' | translate}}</th>
      <th sortable="email" (sort)="onSort($event)">{{'STUDENT.EMAIL' | translate}}</th>
      <th sortable="address" (sort)="onSort($event)">{{'STUDENT.ADDRESS' | translate}}</th>
      <th sortable="currentYearOfStudy" (sort)="onSort($event)">{{'STUDENT.CURRENT_YEAR_OF_STUDY' | translate}}</th>
      <th sortable="city" (sort)="onSort($event)">{{'STUDENT.CITY' | translate}}</th>
      <th>{{'COMMON.ACTIONS' | translate}}</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let stu of students; let i = index">
      <td>{{ stu.id }}</td>
      <td>{{ stu.indexNumber }}</td>
      <td>{{ stu.indexYear }}</td>
      <td>{{ stu.firstName }}</td>
      <td>{{ stu.lastName }}</td>
      <td>{{ stu.email }}</td>
      <td>{{ stu.address }}</td>
      <td>{{ stu.currentYearOfStudy }}</td>
      <td>{{ cityMap.get(stu.city.zip_code)?.name }}</td>
      <td>
        <button class="btn btn-outline-success" [routerLink]="['/student/student-form', stu.id]"
          [queryParams]="{'page': currentPage.page, 'size': currentPage.size, 'orderBy': currentPage.orderBy, 'order': currentPage.order}">
          <bi name="pencil"></bi><span class="btn-text-responsive">{{'COMMON.EDIT' | translate}}</span>
        </button>
        <button class="btn btn-outline-info" (click)="onDetailsClick(stu, studentDetailsTemplate)">
          <bi name="card-text"></bi><span class="btn-text-responsive">{{'COMMON.DETAILS' | translate}}</span>
        </button>
        <button class="btn btn-outline-danger" (click)="onDeleteClick(stu)">
          <bi name="trash"></bi><span class="btn-text-responsive">{{'COMMON.DELETE' | translate}}</span>
        </button>
      </td>
    </tr>
  </tbody>
</table>
<hr>
<div class="d-flex justify-content-center">
  <ngb-pagination [collectionSize]="currentPage.totalItems" [pageSize]="currentPage.size" [(page)]="currentPage.page"
    [boundaryLinks]="true" (pageChange)="loadStudents()">
  </ngb-pagination>
</div>
<ng-template #studentDetailsTemplate let-modal>
  <div class="modal-body">
    <h4>{{'STUDENT.STUDENT_DETAILS' | translate}}</h4>
    <ul class="list-unstyled">
      <li>ID: {{ selectedStudent?.id }}</li>
      <li>Index Number: {{ selectedStudent?.indexNumber }}</li>
      <li>Index Year: {{ selectedStudent?.indexYear }}</li>
      <li>First Name: {{ selectedStudent?.firstName }}</li>
      <li>Last Name: {{ selectedStudent?.lastName }}</li>
      <li>Email: {{ selectedStudent?.email }}</li>
      <li>Address: {{ selectedStudent?.address }}</li>
      <li>Current Year Of Study: {{ selectedStudent?.currentYearOfStudy }}</li>
      <li>City: {{selectedStudent?.city?.name}}</li>
    </ul>
    <div class="mt-2 d-flex flex-row-reverse">
      <button (click)="modal.close('OK')">Ok</button>
    </div>
  </div>
</ng-template>