<body>

    <form class="form">
        <div class="">
            <h2>{{'Reset Password' | translate}}</h2>
            <div class="input">
                <div class="inputBox">
                    <label for="email">{{'Email' | translate}}</label>
                    <input type="text" id="email" placeholder="example@gmail.com">
                </div>
                <div class="inputBox">
                    <input type="submit" (click)="resetPassword()" value="Reset">

                </div>
            </div>

        </div>

    </form>
</body>