<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <form [formGroup]="marksForm" (ngSubmit)="save()" *ngIf="marksForm">

                <div class="d-flex flex-column">
                    <label for="student">{{'Student' | translate}}</label>
                    <select class="form-control" type="text" id="student" formControlName="student">
                        <option *ngFor="let student of students$|async" [ngValue]="student.id">
                            {{student.firstName}} {{student.lastName}}
                        </option>
                    </select>
                </div>

                <div class="d-flex flex-column">
                    <label for="subject">{{'Subject' | translate}}</label>
                    <select class="form-control" type="text" id="subject" formControlName="subject">
                        <option *ngFor="let sub of subjects$|async" [ngValue]="sub.id">
                            {{sub.name}}
                        </option>
                    </select>
                </div>

                <div class="d-flex flex-column">
                    <label for="professor">{{'Professor' | translate}}</label>
                    <select class="form-control" type="text" id="professor" formControlName="professor">
                        <option *ngFor="let prof of professors$|async" [ngValue]="prof.id">
                            {{prof.firstName}} {{prof.lastName}}
                        </option>
                    </select>
                </div>

                <div class="d-flex flex-column">
                    <label for="mark">{{'Mark' | translate}}</label>
                    <input class="form-control" type="number" id="mark" formControlName="mark">
                </div>

                <div class="d-flex flex-column">
                    <label for="date">{{'Date' | translate}}</label>
                    <input class="form-control" type="date" id="date" formControlName="date">
                </div>

                <div class="d-flex flex-column">
                    <label for="exam">{{'Exam' | translate}}</label>
                    <select class="form-control" type="text" id="exam" formControlName="exam">
                        <option *ngFor="let exam of exams$|async" [ngValue]="exam.id">
                            {{exam.id}}
                        </option>
                    </select>
                </div>

                <div class="d-flex flex-row-reverse justify-content-around mt-3">
                    <button type="submit" class="btn btn-outline-primary"
                        [disabled]="!(marksForm.valid && marksForm.dirty)">{{'COMMON.SAVE' | translate}}</button>
                    <button type="button" class="btn btn-outline-danger" [routerLink]="['/exam/exam-list']"
                        queryParamsHandling="preserve">{{'COMMON.CANCEL' | translate}}</button>
                </div>

            </form>
        </div>
    </div>
</div>